.card-container {
	max-width: 800px;
	width: 100%;
	margin: 15px;
	position: relative;
}

.card-content-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	max-width: 800px;
	width: 100%;
	height: 400px;
	padding: 15px 20px 15px 20px;
	/* background: url("../img/24192-ed4_wide.jpg") no-repeat; */
	background-size: cover;
	border-radius: 10px;
}

.card-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
}

.title-content {
	font-family: "Roboto", sans-serif;
}

.title-pg {
	font-family: "Roboto", sans-serif;
}

.card-main {
	display: flex;
	flex-direction: column;
}

.card-title-bg {
	background-color: rgba(59, 59, 59, 0.5);
	border-radius: 5px;
	padding: 5px;
}

.card-description-bg {
	background-color: rgba(59, 59, 59, 0.5);
	border-radius: 5px;
	padding: 5px;
}

.card-info-content {
	padding: 15px 20px 15px 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 3px 6px rgb(200 199 199);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-container input {
	border: none;
}

.card-container input::target-text {
	border: none;
}
