.main-container {
	width: 100%;
	padding: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.profile-img {
	position: relative;
}

.profile-img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.profile-img-overlay input {
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}

.profile-img-overlay img {
	width: 50%;
	height: 50%;
}
